* {
  margin: 0; /*zerar a margem externa dos elementos*/
  padding: 0; /*zerar a margem interna dos elementos*/
}
header {
  /*adiconar um imagem de fundo ao  cabe calho*/
  background-image: url("../img/cafeteria2.jpg");
  background-position: 0px -300px;
  height: 300px;
  transition: ease 1s;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "abel";
  font-size: 40pt;
  padding-top: 100px;
  text-shadow: 5px 5px 10px rbg(0, 0, 0);
}
nav ul li {
  display: inline-block;
  border: 1px solid red;
  margin-left: 10px;
  margin-right: 10px;
}
/*alinhar os alementos de like ao centro usando
texto-alig:centr na nav,assim tudo que estiver
dentro do nav ira para o centro */
nav {
  text-align: center;
  margin-top: 100px;
  /*a cor utilzada para o fudo da nav foi rgba,que
    siginihica read gree blue e alpha(transparente),onde o valor mais proximo do  0(0) e totalmente transparente e
    quando mais proximo do 1 e totalmente solido.neste caso estamos usando 80% de solidez,ou seja,aplicamos 20% de transparencia */
  background-color: rgba(233, 233, 233, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rbg(100, 0, 0);
  text-decoration: none;
  font-family: swap;
  font-weight: bold;
}
nav ul a:hover {
  text-decoration: underline;
}

footer {
  background-color: sandybrown;
  text-align: center;
}

div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}
div a {
  color: rgb(100, 0, 0);
  text-decoration: none;
}

main {
  /** Vamos aplicar um margem interna de 20px Ultilizaremos o comando paddi */

  padding: 20p;
}
h2 {
  font-family: abel;
  color: rgb(100, 0, 0);
  font-size: 20px;
  border-bottom: 4px dotted rgb(100, 0, 0);
  margin-left: 15px;
  padding-left: 600px;
  margin-bottom: 30px;
}
h3 {
  font-family: anton;
  margin-left: 70px;
  font-size: 15px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;

  line-height: 30px;
  margin-bottom: 30px;
  font-family: abel;
  font-size: 13px;
}

#home {
  text-align: center;
}

#home img {
  height: 400px;
  width: 400px;
  margin: 10px;
  /* vamos aplicarr um efeiro de transparencia
com o comando opacity.onde os valores 1
e totalmente visivel e 0 e o totalmente 
transparente */
  opacity: 1;
  border-radius: 50%;
  transition: ease 0.5s;
}

#home img:hover {
  opacity: 1;
  transform: scale(2);
  cursor: pointer;
  transform: rotateY(360deg);
}

#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 500px;
  height: 400px;
}
#video {
  text-align: center;
}

/*abaixo a formação para pagina cardapio*/
#container,
#linha,
#imagem,
#texto {
  border: 1px solid red;
}

#conterner {
  display: inline-block;
}

#linha {
  display: inline-block;
  width: 80%;
}
#imagem img {
  width: 200px;
  height: 200px;
}
#imagem {
  width: 200px;
  height: 200px;
  /**fazer a imagem flutuar para a esquerda*/
  float: left;
}
#texto {
  padding: 20px;
  width: 80%;
  float: left;
}
